{
    "plugins": ["prettier", "react", "react-hooks"],
    "rules": {
        "prettier/prettier": "error"
    },
    "extends": ["prettier", "plugin:@typescript-eslint/recommended"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2022
    }
}
